<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hdkj.wechat.dao.MyElec.DLDFMapper">
  <resultMap id="BaseResultMap" type="org.hdkj.wechat.bean.MyElec.DLDF">
    <id column="RCVBL_AMT_ID" jdbcType="DECIMAL" property="rcvblAmtId" />
    <result column="CALC_ID" jdbcType="DECIMAL" property="calcId" />
    <result column="AMT_TYPE" jdbcType="VARCHAR" property="amtType" />
    <result column="RCVBL_YM" jdbcType="VARCHAR" property="rcvblYm" />
    <result column="CONS_NO" jdbcType="VARCHAR" property="consNo" />
    <result column="ORG_NO" jdbcType="VARCHAR" property="orgNo" />
    <result column="PAY_MODE" jdbcType="VARCHAR" property="payMode" />
    <result column="T_PQ" jdbcType="DECIMAL" property="tPq" />
    <result column="RCVBL_AMT" jdbcType="DECIMAL" property="rcvblAmt" />
    <result column="RCVED_AMT" jdbcType="DECIMAL" property="rcvedAmt" />
    <result column="STATUS_CODE" jdbcType="VARCHAR" property="statusCode" />
    <result column="SETTLE_FLAG" jdbcType="VARCHAR" property="settleFlag" />
    <result column="PENALTY_BGN_DATE" jdbcType="DATE" property="penaltyBgnDate" />
    <result column="RCVBL_INPRICE_AMT" jdbcType="DECIMAL" property="rcvblInpriceAmt" />
    <result column="RCVBL_PL_AMT" jdbcType="DECIMAL" property="rcvblPlAmt" />
    <result column="RCVED_IN_PRICE_AMT" jdbcType="DECIMAL" property="rcvedInPriceAmt" />
    <result column="RCVED_PL_AMT" jdbcType="DECIMAL" property="rcvedPlAmt" />
    <result column="RCVBL_PENALTY" jdbcType="DECIMAL" property="rcvblPenalty" />
    <result column="RCVED_PENALTY" jdbcType="DECIMAL" property="rcvedPenalty" />
    <result column="RISK_LEVEL_CODE" jdbcType="VARCHAR" property="riskLevelCode" />
    <result column="RELEASE_DATE" jdbcType="VARCHAR" property="releaseDate" />
    <result column="ACCT_NO" jdbcType="VARCHAR" property="acctNo" />
    <result column="OWE_AMT" jdbcType="DECIMAL" property="oweAmt" />
    <result column="OPR_ID" jdbcType="VARCHAR" property="oprId" />
    <result column="REMIND_SECT_NO" jdbcType="VARCHAR" property="remindSectNo" />
    <result column="SENT_NUM" jdbcType="DECIMAL" property="sentNum" />
    <result column="LAST_CHG" jdbcType="DECIMAL" property="lastChg" />
    <result column="THIS_CHG" jdbcType="DECIMAL" property="thisChg" />
    <result column="RELATE_NO" jdbcType="DECIMAL" property="relateNo" />
    <result column="MR_SECT_NO" jdbcType="VARCHAR" property="mrSectNo" />
    <result column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
    <result column="BANK_ACCT" jdbcType="VARCHAR" property="bankAcct" />
    <result column="PERIOD_NUM" jdbcType="DECIMAL" property="periodNum" />
    <result column="SPLIT_NUM" jdbcType="DECIMAL" property="splitNum" />
    <result column="SP_ID" jdbcType="DECIMAL" property="spId" />
    <result column="INITIATE_DATE" jdbcType="DATE" property="initiateDate" />
    <result column="ACCT_NAME" jdbcType="VARCHAR" property="acctName" />
    <result column="MR_SN" jdbcType="DECIMAL" property="mrSn" />
    <result column="AGREEMENT_ID" jdbcType="DECIMAL" property="agreementId" />
    <result column="STAT_NO" jdbcType="VARCHAR" property="statNo" />
    <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType" />
    <result column="CHECK_STATUS" jdbcType="VARCHAR" property="checkStatus" />
    <result column="CHECK_EMP_NO" jdbcType="VARCHAR" property="checkEmpNo" />
    <result column="CHECK_DATE" jdbcType="VARCHAR" property="checkDate" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="CONS_SORT_CODE" jdbcType="VARCHAR" property="consSortCode" />
    <result column="ELEC_TYPE_CODE" jdbcType="VARCHAR" property="elecTypeCode" />
    <result column="GP_CODE" jdbcType="VARCHAR" property="gpCode" />
    <result column="MR_DAY" jdbcType="DECIMAL" property="mrDay" />
    <result column="DEFER_TYPE" jdbcType="VARCHAR" property="deferType" />
    <result column="DEFER_AMT" jdbcType="DECIMAL" property="deferAmt" />
    <result column="EFFEC_DATE" jdbcType="VARCHAR" property="effecDate" />
    <result column="TRANSIT_PENALTY" jdbcType="DECIMAL" property="transitPenalty" />
    <result column="TG_ID" jdbcType="DECIMAL" property="tgId" />
    <result column="CTL_MODE" jdbcType="VARCHAR" property="ctlMode" />
    <result column="DZ_RCVED_AMT" jdbcType="DECIMAL" property="dzRcvedAmt" />
    <result column="DZ_RCVED_PENALTY" jdbcType="DECIMAL" property="dzRcvedPenalty" />
  </resultMap>
  <sql id="Base_Column_List">
    RCVBL_AMT_ID, CALC_ID, AMT_TYPE, RCVBL_YM, CONS_NO, ORG_NO, PAY_MODE, T_PQ, RCVBL_AMT, 
    RCVED_AMT, STATUS_CODE, SETTLE_FLAG, PENALTY_BGN_DATE, RCVBL_INPRICE_AMT, RCVBL_PL_AMT, 
    RCVED_IN_PRICE_AMT, RCVED_PL_AMT, RCVBL_PENALTY, RCVED_PENALTY, RISK_LEVEL_CODE, 
    RELEASE_DATE, ACCT_NO, OWE_AMT, OPR_ID, REMIND_SECT_NO, SENT_NUM, LAST_CHG, THIS_CHG, 
    RELATE_NO, MR_SECT_NO, BANK_CODE, BANK_ACCT, PERIOD_NUM, SPLIT_NUM, SP_ID, INITIATE_DATE, 
    ACCT_NAME, MR_SN, AGREEMENT_ID, STAT_NO, CARD_TYPE, CHECK_STATUS, CHECK_EMP_NO, CHECK_DATE, 
    FILE_NAME, CONS_SORT_CODE, ELEC_TYPE_CODE, GP_CODE, MR_DAY, DEFER_TYPE, DEFER_AMT, 
    EFFEC_DATE, TRANSIT_PENALTY, TG_ID, CTL_MODE, DZ_RCVED_AMT, DZ_RCVED_PENALTY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YX_A_RCVBL_FLOW
    where RCVBL_AMT_ID = #{rcvblAmtId,jdbcType=DECIMAL}
  </select>
  <select id="selectByConsnoAndDate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YX_A_RCVBL_FLOW
    where CONS_NO = #{consNo,jdbcType=VARCHAR} and RCVBL_YM = #{rcvblYm,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from YX_A_RCVBL_FLOW
    where RCVBL_AMT_ID = #{rcvblAmtId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.hdkj.wechat.bean.MyElec.DLDF">
    insert into YX_A_RCVBL_FLOW (RCVBL_AMT_ID, CALC_ID, AMT_TYPE, 
      RCVBL_YM, CONS_NO, ORG_NO, 
      PAY_MODE, T_PQ, RCVBL_AMT, 
      RCVED_AMT, STATUS_CODE, SETTLE_FLAG, 
      PENALTY_BGN_DATE, RCVBL_INPRICE_AMT, RCVBL_PL_AMT, 
      RCVED_IN_PRICE_AMT, RCVED_PL_AMT, RCVBL_PENALTY, 
      RCVED_PENALTY, RISK_LEVEL_CODE, RELEASE_DATE, 
      ACCT_NO, OWE_AMT, OPR_ID, 
      REMIND_SECT_NO, SENT_NUM, LAST_CHG, 
      THIS_CHG, RELATE_NO, MR_SECT_NO, 
      BANK_CODE, BANK_ACCT, PERIOD_NUM, 
      SPLIT_NUM, SP_ID, INITIATE_DATE, 
      ACCT_NAME, MR_SN, AGREEMENT_ID, 
      STAT_NO, CARD_TYPE, CHECK_STATUS, 
      CHECK_EMP_NO, CHECK_DATE, FILE_NAME, 
      CONS_SORT_CODE, ELEC_TYPE_CODE, GP_CODE, 
      MR_DAY, DEFER_TYPE, DEFER_AMT, 
      EFFEC_DATE, TRANSIT_PENALTY, TG_ID, 
      CTL_MODE, DZ_RCVED_AMT, DZ_RCVED_PENALTY
      )
    values (#{rcvblAmtId,jdbcType=DECIMAL}, #{calcId,jdbcType=DECIMAL}, #{amtType,jdbcType=VARCHAR}, 
      #{rcvblYm,jdbcType=VARCHAR}, #{consNo,jdbcType=VARCHAR}, #{orgNo,jdbcType=VARCHAR}, 
      #{payMode,jdbcType=VARCHAR}, #{tPq,jdbcType=DECIMAL}, #{rcvblAmt,jdbcType=DECIMAL}, 
      #{rcvedAmt,jdbcType=DECIMAL}, #{statusCode,jdbcType=VARCHAR}, #{settleFlag,jdbcType=VARCHAR}, 
      #{penaltyBgnDate,jdbcType=DATE}, #{rcvblInpriceAmt,jdbcType=DECIMAL}, #{rcvblPlAmt,jdbcType=DECIMAL}, 
      #{rcvedInPriceAmt,jdbcType=DECIMAL}, #{rcvedPlAmt,jdbcType=DECIMAL}, #{rcvblPenalty,jdbcType=DECIMAL}, 
      #{rcvedPenalty,jdbcType=DECIMAL}, #{riskLevelCode,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, 
      #{acctNo,jdbcType=VARCHAR}, #{oweAmt,jdbcType=DECIMAL}, #{oprId,jdbcType=VARCHAR}, 
      #{remindSectNo,jdbcType=VARCHAR}, #{sentNum,jdbcType=DECIMAL}, #{lastChg,jdbcType=DECIMAL}, 
      #{thisChg,jdbcType=DECIMAL}, #{relateNo,jdbcType=DECIMAL}, #{mrSectNo,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{bankAcct,jdbcType=VARCHAR}, #{periodNum,jdbcType=DECIMAL}, 
      #{splitNum,jdbcType=DECIMAL}, #{spId,jdbcType=DECIMAL}, #{initiateDate,jdbcType=DATE}, 
      #{acctName,jdbcType=VARCHAR}, #{mrSn,jdbcType=DECIMAL}, #{agreementId,jdbcType=DECIMAL}, 
      #{statNo,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{checkStatus,jdbcType=VARCHAR}, 
      #{checkEmpNo,jdbcType=VARCHAR}, #{checkDate,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{consSortCode,jdbcType=VARCHAR}, #{elecTypeCode,jdbcType=VARCHAR}, #{gpCode,jdbcType=VARCHAR}, 
      #{mrDay,jdbcType=DECIMAL}, #{deferType,jdbcType=VARCHAR}, #{deferAmt,jdbcType=DECIMAL}, 
      #{effecDate,jdbcType=VARCHAR}, #{transitPenalty,jdbcType=DECIMAL}, #{tgId,jdbcType=DECIMAL}, 
      #{ctlMode,jdbcType=VARCHAR}, #{dzRcvedAmt,jdbcType=DECIMAL}, #{dzRcvedPenalty,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.hdkj.wechat.bean.MyElec.DLDF">
    insert into YX_A_RCVBL_FLOW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rcvblAmtId != null">
        RCVBL_AMT_ID,
      </if>
      <if test="calcId != null">
        CALC_ID,
      </if>
      <if test="amtType != null">
        AMT_TYPE,
      </if>
      <if test="rcvblYm != null">
        RCVBL_YM,
      </if>
      <if test="consNo != null">
        CONS_NO,
      </if>
      <if test="orgNo != null">
        ORG_NO,
      </if>
      <if test="payMode != null">
        PAY_MODE,
      </if>
      <if test="tPq != null">
        T_PQ,
      </if>
      <if test="rcvblAmt != null">
        RCVBL_AMT,
      </if>
      <if test="rcvedAmt != null">
        RCVED_AMT,
      </if>
      <if test="statusCode != null">
        STATUS_CODE,
      </if>
      <if test="settleFlag != null">
        SETTLE_FLAG,
      </if>
      <if test="penaltyBgnDate != null">
        PENALTY_BGN_DATE,
      </if>
      <if test="rcvblInpriceAmt != null">
        RCVBL_INPRICE_AMT,
      </if>
      <if test="rcvblPlAmt != null">
        RCVBL_PL_AMT,
      </if>
      <if test="rcvedInPriceAmt != null">
        RCVED_IN_PRICE_AMT,
      </if>
      <if test="rcvedPlAmt != null">
        RCVED_PL_AMT,
      </if>
      <if test="rcvblPenalty != null">
        RCVBL_PENALTY,
      </if>
      <if test="rcvedPenalty != null">
        RCVED_PENALTY,
      </if>
      <if test="riskLevelCode != null">
        RISK_LEVEL_CODE,
      </if>
      <if test="releaseDate != null">
        RELEASE_DATE,
      </if>
      <if test="acctNo != null">
        ACCT_NO,
      </if>
      <if test="oweAmt != null">
        OWE_AMT,
      </if>
      <if test="oprId != null">
        OPR_ID,
      </if>
      <if test="remindSectNo != null">
        REMIND_SECT_NO,
      </if>
      <if test="sentNum != null">
        SENT_NUM,
      </if>
      <if test="lastChg != null">
        LAST_CHG,
      </if>
      <if test="thisChg != null">
        THIS_CHG,
      </if>
      <if test="relateNo != null">
        RELATE_NO,
      </if>
      <if test="mrSectNo != null">
        MR_SECT_NO,
      </if>
      <if test="bankCode != null">
        BANK_CODE,
      </if>
      <if test="bankAcct != null">
        BANK_ACCT,
      </if>
      <if test="periodNum != null">
        PERIOD_NUM,
      </if>
      <if test="splitNum != null">
        SPLIT_NUM,
      </if>
      <if test="spId != null">
        SP_ID,
      </if>
      <if test="initiateDate != null">
        INITIATE_DATE,
      </if>
      <if test="acctName != null">
        ACCT_NAME,
      </if>
      <if test="mrSn != null">
        MR_SN,
      </if>
      <if test="agreementId != null">
        AGREEMENT_ID,
      </if>
      <if test="statNo != null">
        STAT_NO,
      </if>
      <if test="cardType != null">
        CARD_TYPE,
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS,
      </if>
      <if test="checkEmpNo != null">
        CHECK_EMP_NO,
      </if>
      <if test="checkDate != null">
        CHECK_DATE,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="consSortCode != null">
        CONS_SORT_CODE,
      </if>
      <if test="elecTypeCode != null">
        ELEC_TYPE_CODE,
      </if>
      <if test="gpCode != null">
        GP_CODE,
      </if>
      <if test="mrDay != null">
        MR_DAY,
      </if>
      <if test="deferType != null">
        DEFER_TYPE,
      </if>
      <if test="deferAmt != null">
        DEFER_AMT,
      </if>
      <if test="effecDate != null">
        EFFEC_DATE,
      </if>
      <if test="transitPenalty != null">
        TRANSIT_PENALTY,
      </if>
      <if test="tgId != null">
        TG_ID,
      </if>
      <if test="ctlMode != null">
        CTL_MODE,
      </if>
      <if test="dzRcvedAmt != null">
        DZ_RCVED_AMT,
      </if>
      <if test="dzRcvedPenalty != null">
        DZ_RCVED_PENALTY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rcvblAmtId != null">
        #{rcvblAmtId,jdbcType=DECIMAL},
      </if>
      <if test="calcId != null">
        #{calcId,jdbcType=DECIMAL},
      </if>
      <if test="amtType != null">
        #{amtType,jdbcType=VARCHAR},
      </if>
      <if test="rcvblYm != null">
        #{rcvblYm,jdbcType=VARCHAR},
      </if>
      <if test="consNo != null">
        #{consNo,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null">
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null">
        #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="tPq != null">
        #{tPq,jdbcType=DECIMAL},
      </if>
      <if test="rcvblAmt != null">
        #{rcvblAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedAmt != null">
        #{rcvedAmt,jdbcType=DECIMAL},
      </if>
      <if test="statusCode != null">
        #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="settleFlag != null">
        #{settleFlag,jdbcType=VARCHAR},
      </if>
      <if test="penaltyBgnDate != null">
        #{penaltyBgnDate,jdbcType=DATE},
      </if>
      <if test="rcvblInpriceAmt != null">
        #{rcvblInpriceAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvblPlAmt != null">
        #{rcvblPlAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedInPriceAmt != null">
        #{rcvedInPriceAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedPlAmt != null">
        #{rcvedPlAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvblPenalty != null">
        #{rcvblPenalty,jdbcType=DECIMAL},
      </if>
      <if test="rcvedPenalty != null">
        #{rcvedPenalty,jdbcType=DECIMAL},
      </if>
      <if test="riskLevelCode != null">
        #{riskLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null">
        #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="oweAmt != null">
        #{oweAmt,jdbcType=DECIMAL},
      </if>
      <if test="oprId != null">
        #{oprId,jdbcType=VARCHAR},
      </if>
      <if test="remindSectNo != null">
        #{remindSectNo,jdbcType=VARCHAR},
      </if>
      <if test="sentNum != null">
        #{sentNum,jdbcType=DECIMAL},
      </if>
      <if test="lastChg != null">
        #{lastChg,jdbcType=DECIMAL},
      </if>
      <if test="thisChg != null">
        #{thisChg,jdbcType=DECIMAL},
      </if>
      <if test="relateNo != null">
        #{relateNo,jdbcType=DECIMAL},
      </if>
      <if test="mrSectNo != null">
        #{mrSectNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="periodNum != null">
        #{periodNum,jdbcType=DECIMAL},
      </if>
      <if test="splitNum != null">
        #{splitNum,jdbcType=DECIMAL},
      </if>
      <if test="spId != null">
        #{spId,jdbcType=DECIMAL},
      </if>
      <if test="initiateDate != null">
        #{initiateDate,jdbcType=DATE},
      </if>
      <if test="acctName != null">
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="mrSn != null">
        #{mrSn,jdbcType=DECIMAL},
      </if>
      <if test="agreementId != null">
        #{agreementId,jdbcType=DECIMAL},
      </if>
      <if test="statNo != null">
        #{statNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkEmpNo != null">
        #{checkEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="consSortCode != null">
        #{consSortCode,jdbcType=VARCHAR},
      </if>
      <if test="elecTypeCode != null">
        #{elecTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="gpCode != null">
        #{gpCode,jdbcType=VARCHAR},
      </if>
      <if test="mrDay != null">
        #{mrDay,jdbcType=DECIMAL},
      </if>
      <if test="deferType != null">
        #{deferType,jdbcType=VARCHAR},
      </if>
      <if test="deferAmt != null">
        #{deferAmt,jdbcType=DECIMAL},
      </if>
      <if test="effecDate != null">
        #{effecDate,jdbcType=VARCHAR},
      </if>
      <if test="transitPenalty != null">
        #{transitPenalty,jdbcType=DECIMAL},
      </if>
      <if test="tgId != null">
        #{tgId,jdbcType=DECIMAL},
      </if>
      <if test="ctlMode != null">
        #{ctlMode,jdbcType=VARCHAR},
      </if>
      <if test="dzRcvedAmt != null">
        #{dzRcvedAmt,jdbcType=DECIMAL},
      </if>
      <if test="dzRcvedPenalty != null">
        #{dzRcvedPenalty,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hdkj.wechat.bean.MyElec.DLDF">
    update YX_A_RCVBL_FLOW
    <set>
      <if test="calcId != null">
        CALC_ID = #{calcId,jdbcType=DECIMAL},
      </if>
      <if test="amtType != null">
        AMT_TYPE = #{amtType,jdbcType=VARCHAR},
      </if>
      <if test="rcvblYm != null">
        RCVBL_YM = #{rcvblYm,jdbcType=VARCHAR},
      </if>
      <if test="consNo != null">
        CONS_NO = #{consNo,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null">
        ORG_NO = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null">
        PAY_MODE = #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="tPq != null">
        T_PQ = #{tPq,jdbcType=DECIMAL},
      </if>
      <if test="rcvblAmt != null">
        RCVBL_AMT = #{rcvblAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedAmt != null">
        RCVED_AMT = #{rcvedAmt,jdbcType=DECIMAL},
      </if>
      <if test="statusCode != null">
        STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="settleFlag != null">
        SETTLE_FLAG = #{settleFlag,jdbcType=VARCHAR},
      </if>
      <if test="penaltyBgnDate != null">
        PENALTY_BGN_DATE = #{penaltyBgnDate,jdbcType=DATE},
      </if>
      <if test="rcvblInpriceAmt != null">
        RCVBL_INPRICE_AMT = #{rcvblInpriceAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvblPlAmt != null">
        RCVBL_PL_AMT = #{rcvblPlAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedInPriceAmt != null">
        RCVED_IN_PRICE_AMT = #{rcvedInPriceAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvedPlAmt != null">
        RCVED_PL_AMT = #{rcvedPlAmt,jdbcType=DECIMAL},
      </if>
      <if test="rcvblPenalty != null">
        RCVBL_PENALTY = #{rcvblPenalty,jdbcType=DECIMAL},
      </if>
      <if test="rcvedPenalty != null">
        RCVED_PENALTY = #{rcvedPenalty,jdbcType=DECIMAL},
      </if>
      <if test="riskLevelCode != null">
        RISK_LEVEL_CODE = #{riskLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        RELEASE_DATE = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="acctNo != null">
        ACCT_NO = #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="oweAmt != null">
        OWE_AMT = #{oweAmt,jdbcType=DECIMAL},
      </if>
      <if test="oprId != null">
        OPR_ID = #{oprId,jdbcType=VARCHAR},
      </if>
      <if test="remindSectNo != null">
        REMIND_SECT_NO = #{remindSectNo,jdbcType=VARCHAR},
      </if>
      <if test="sentNum != null">
        SENT_NUM = #{sentNum,jdbcType=DECIMAL},
      </if>
      <if test="lastChg != null">
        LAST_CHG = #{lastChg,jdbcType=DECIMAL},
      </if>
      <if test="thisChg != null">
        THIS_CHG = #{thisChg,jdbcType=DECIMAL},
      </if>
      <if test="relateNo != null">
        RELATE_NO = #{relateNo,jdbcType=DECIMAL},
      </if>
      <if test="mrSectNo != null">
        MR_SECT_NO = #{mrSectNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="periodNum != null">
        PERIOD_NUM = #{periodNum,jdbcType=DECIMAL},
      </if>
      <if test="splitNum != null">
        SPLIT_NUM = #{splitNum,jdbcType=DECIMAL},
      </if>
      <if test="spId != null">
        SP_ID = #{spId,jdbcType=DECIMAL},
      </if>
      <if test="initiateDate != null">
        INITIATE_DATE = #{initiateDate,jdbcType=DATE},
      </if>
      <if test="acctName != null">
        ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="mrSn != null">
        MR_SN = #{mrSn,jdbcType=DECIMAL},
      </if>
      <if test="agreementId != null">
        AGREEMENT_ID = #{agreementId,jdbcType=DECIMAL},
      </if>
      <if test="statNo != null">
        STAT_NO = #{statNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkEmpNo != null">
        CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        CHECK_DATE = #{checkDate,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="consSortCode != null">
        CONS_SORT_CODE = #{consSortCode,jdbcType=VARCHAR},
      </if>
      <if test="elecTypeCode != null">
        ELEC_TYPE_CODE = #{elecTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="gpCode != null">
        GP_CODE = #{gpCode,jdbcType=VARCHAR},
      </if>
      <if test="mrDay != null">
        MR_DAY = #{mrDay,jdbcType=DECIMAL},
      </if>
      <if test="deferType != null">
        DEFER_TYPE = #{deferType,jdbcType=VARCHAR},
      </if>
      <if test="deferAmt != null">
        DEFER_AMT = #{deferAmt,jdbcType=DECIMAL},
      </if>
      <if test="effecDate != null">
        EFFEC_DATE = #{effecDate,jdbcType=VARCHAR},
      </if>
      <if test="transitPenalty != null">
        TRANSIT_PENALTY = #{transitPenalty,jdbcType=DECIMAL},
      </if>
      <if test="tgId != null">
        TG_ID = #{tgId,jdbcType=DECIMAL},
      </if>
      <if test="ctlMode != null">
        CTL_MODE = #{ctlMode,jdbcType=VARCHAR},
      </if>
      <if test="dzRcvedAmt != null">
        DZ_RCVED_AMT = #{dzRcvedAmt,jdbcType=DECIMAL},
      </if>
      <if test="dzRcvedPenalty != null">
        DZ_RCVED_PENALTY = #{dzRcvedPenalty,jdbcType=DECIMAL},
      </if>
    </set>
    where RCVBL_AMT_ID = #{rcvblAmtId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hdkj.wechat.bean.MyElec.DLDF">
    update YX_A_RCVBL_FLOW
    set CALC_ID = #{calcId,jdbcType=DECIMAL},
      AMT_TYPE = #{amtType,jdbcType=VARCHAR},
      RCVBL_YM = #{rcvblYm,jdbcType=VARCHAR},
      CONS_NO = #{consNo,jdbcType=VARCHAR},
      ORG_NO = #{orgNo,jdbcType=VARCHAR},
      PAY_MODE = #{payMode,jdbcType=VARCHAR},
      T_PQ = #{tPq,jdbcType=DECIMAL},
      RCVBL_AMT = #{rcvblAmt,jdbcType=DECIMAL},
      RCVED_AMT = #{rcvedAmt,jdbcType=DECIMAL},
      STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
      SETTLE_FLAG = #{settleFlag,jdbcType=VARCHAR},
      PENALTY_BGN_DATE = #{penaltyBgnDate,jdbcType=DATE},
      RCVBL_INPRICE_AMT = #{rcvblInpriceAmt,jdbcType=DECIMAL},
      RCVBL_PL_AMT = #{rcvblPlAmt,jdbcType=DECIMAL},
      RCVED_IN_PRICE_AMT = #{rcvedInPriceAmt,jdbcType=DECIMAL},
      RCVED_PL_AMT = #{rcvedPlAmt,jdbcType=DECIMAL},
      RCVBL_PENALTY = #{rcvblPenalty,jdbcType=DECIMAL},
      RCVED_PENALTY = #{rcvedPenalty,jdbcType=DECIMAL},
      RISK_LEVEL_CODE = #{riskLevelCode,jdbcType=VARCHAR},
      RELEASE_DATE = #{releaseDate,jdbcType=VARCHAR},
      ACCT_NO = #{acctNo,jdbcType=VARCHAR},
      OWE_AMT = #{oweAmt,jdbcType=DECIMAL},
      OPR_ID = #{oprId,jdbcType=VARCHAR},
      REMIND_SECT_NO = #{remindSectNo,jdbcType=VARCHAR},
      SENT_NUM = #{sentNum,jdbcType=DECIMAL},
      LAST_CHG = #{lastChg,jdbcType=DECIMAL},
      THIS_CHG = #{thisChg,jdbcType=DECIMAL},
      RELATE_NO = #{relateNo,jdbcType=DECIMAL},
      MR_SECT_NO = #{mrSectNo,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      PERIOD_NUM = #{periodNum,jdbcType=DECIMAL},
      SPLIT_NUM = #{splitNum,jdbcType=DECIMAL},
      SP_ID = #{spId,jdbcType=DECIMAL},
      INITIATE_DATE = #{initiateDate,jdbcType=DATE},
      ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      MR_SN = #{mrSn,jdbcType=DECIMAL},
      AGREEMENT_ID = #{agreementId,jdbcType=DECIMAL},
      STAT_NO = #{statNo,jdbcType=VARCHAR},
      CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      CHECK_STATUS = #{checkStatus,jdbcType=VARCHAR},
      CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR},
      CHECK_DATE = #{checkDate,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      CONS_SORT_CODE = #{consSortCode,jdbcType=VARCHAR},
      ELEC_TYPE_CODE = #{elecTypeCode,jdbcType=VARCHAR},
      GP_CODE = #{gpCode,jdbcType=VARCHAR},
      MR_DAY = #{mrDay,jdbcType=DECIMAL},
      DEFER_TYPE = #{deferType,jdbcType=VARCHAR},
      DEFER_AMT = #{deferAmt,jdbcType=DECIMAL},
      EFFEC_DATE = #{effecDate,jdbcType=VARCHAR},
      TRANSIT_PENALTY = #{transitPenalty,jdbcType=DECIMAL},
      TG_ID = #{tgId,jdbcType=DECIMAL},
      CTL_MODE = #{ctlMode,jdbcType=VARCHAR},
      DZ_RCVED_AMT = #{dzRcvedAmt,jdbcType=DECIMAL},
      DZ_RCVED_PENALTY = #{dzRcvedPenalty,jdbcType=DECIMAL}
    where RCVBL_AMT_ID = #{rcvblAmtId,jdbcType=DECIMAL}
  </update>
</mapper>