<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hdkj.wechat.dao.MyElec.DLDFMapper">
  <resultMap id="BaseResultMap" type="org.hdkj.wechat.bean.MyElec.DLDF">
    <result column="RCVBL_AMT_ID" jdbcType="DECIMAL" property="rcvblAmtId" />
    <result column="CALC_ID" jdbcType="DECIMAL" property="calcId" />
    <result column="AMT_TYPE" jdbcType="VARCHAR" property="amtType" />
    <result column="RCVBL_YM" jdbcType="VARCHAR" property="rcvblYm" />
    <result column="CONS_NO" jdbcType="VARCHAR" property="consNo" />
    <result column="ORG_NO" jdbcType="VARCHAR" property="orgNo" />
    <result column="PAY_MODE" jdbcType="VARCHAR" property="payMode" />
    <result column="T_PQ" jdbcType="DECIMAL" property="tPq" />
    <result column="RCVBL_AMT" jdbcType="DECIMAL" property="rcvblAmt" />
    <result column="RCVED_AMT" jdbcType="DECIMAL" property="rcvedAmt" />
    <result column="STATUS_CODE" jdbcType="VARCHAR" property="statusCode" />
    <result column="SETTLE_FLAG" jdbcType="VARCHAR" property="settleFlag" />
    <result column="PENALTY_BGN_DATE" jdbcType="DATE" property="penaltyBgnDate" />
    <result column="RCVBL_INPRICE_AMT" jdbcType="DECIMAL" property="rcvblInpriceAmt" />
    <result column="RCVBL_PL_AMT" jdbcType="DECIMAL" property="rcvblPlAmt" />
    <result column="RCVED_IN_PRICE_AMT" jdbcType="DECIMAL" property="rcvedInPriceAmt" />
    <result column="RCVED_PL_AMT" jdbcType="DECIMAL" property="rcvedPlAmt" />
    <result column="RCVBL_PENALTY" jdbcType="DECIMAL" property="rcvblPenalty" />
    <result column="RCVED_PENALTY" jdbcType="DECIMAL" property="rcvedPenalty" />
    <result column="RISK_LEVEL_CODE" jdbcType="VARCHAR" property="riskLevelCode" />
    <result column="RELEASE_DATE" jdbcType="VARCHAR" property="releaseDate" />
    <result column="ACCT_NO" jdbcType="VARCHAR" property="acctNo" />
    <result column="OWE_AMT" jdbcType="DECIMAL" property="oweAmt" />
    <result column="OPR_ID" jdbcType="VARCHAR" property="oprId" />
    <result column="REMIND_SECT_NO" jdbcType="VARCHAR" property="remindSectNo" />
    <result column="SENT_NUM" jdbcType="DECIMAL" property="sentNum" />
    <result column="LAST_CHG" jdbcType="DECIMAL" property="lastChg" />
    <result column="THIS_CHG" jdbcType="DECIMAL" property="thisChg" />
    <result column="RELATE_NO" jdbcType="DECIMAL" property="relateNo" />
    <result column="MR_SECT_NO" jdbcType="VARCHAR" property="mrSectNo" />
    <result column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
    <result column="BANK_ACCT" jdbcType="VARCHAR" property="bankAcct" />
    <result column="PERIOD_NUM" jdbcType="DECIMAL" property="periodNum" />
    <result column="SPLIT_NUM" jdbcType="DECIMAL" property="splitNum" />
    <result column="SP_ID" jdbcType="DECIMAL" property="spId" />
  </resultMap>
  
  <select id="selectByConsnoAndDate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    RCVBL_YM, T_PQ,RCVBL_AMT,SETTLE_FLAG ,RELEASE_DATE,RCVED_PENALTY
    from v_a_rcvbl_flow
    where CONS_NO = #{consNo,jdbcType=VARCHAR} and RCVBL_YM = #{rcvblYm,jdbcType=VARCHAR}
  </select>
  
</mapper>